div.links {
	position: fixed;
	width: 100%;
	padding-left: 2rem;
	top: 5.5rem;
	height: 2rem;
	background: #192b4d;
	align-items: center;
	display: flex;
	z-index: 100;
}

div.links a {
	padding: 0.2rem 1rem;
}